---
layout: default
---
{% assign words = content | strip_html | number_of_words %}
{% assign read_time = words | divided_by: 200 | plus: 1 %}

<article class="post" itemscope itemtype="https://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="headline">{{ page.title }}</h1>
    <div class="post-meta">
      <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% include date-fr.html date=page.date %}
      </time>
      <span class="dot">·</span>
      <span>{{ read_time }} min de lecture</span>
    </div>
    {% if page.tags and page.tags.size > 0 %}
    <ul class="tag-list" style="margin-top:.6rem;">
      {% for tag in page.tags %}
      <li><a class="tag" href="/tags/#{{ tag | slugify }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <meta itemprop="author" content="{{ site.author.name }}">
  {% if page.image %}<meta itemprop="image" content="{{ page.image | absolute_url }}">{% endif %}
</article>

{% assign related = site.related_posts | where_exp: "p", "p.url != page.url" %}
{% if related.size > 0 %}
<aside class="related">
  <h2>Articles liés</h2>
  <ul class="related-posts">
    {% for post in related limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h3>
        <small>{% include date-fr.html date=post.date %}</small>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}
